html {
  font-size: 8pt;
}
body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  background: #F2EDD3;
  font-family: 'Open Sans', sans-serif;
}
body.opened-options {
  background: rgba(20, 20, 20, 0.9) url(../images/pattern.png);
}
.title {
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #aaa;
  margin: 8pt 0;
  text-align: center;
}
.clear {
  clear: both;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
#header {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 36pt;
  background: #0a0a0f;
  font-size: 0px;
  z-index: 10;
}
#header a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 20pt;
  height: 36pt;
  line-height: 34pt;
  width: 42pt;
  text-align: center;
}
#header a:active {
  background-color: #247af1;
}
#options,
#weather {
  margin-bottom: 40pt;
  padding: 5pt 10pt 0;
}
#options {
  color: #eee;
  height: 100%;
  text-align: center;
}
#options > div {
  margin-bottom: 22pt;
}
#options > div#by {
  font-size: 10pt;
  border-bottom: 0px;
  color: #777;
}
#options > div#by a {
  color: #999;
  text-decoration: none;
}
.btn {
  width: 100%;
  height: 34pt;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url("../images/recommend.png") repeat-x scroll left bottom;
  background-size: 5px 100%;
  background-color: #fafafa;
  border: 1pt solid #000;
  font: 500 14pt/30pt 'Open Sans', sans-serif;
  color: #333;
  text-align: center;
  text-shadow: 1pt 1pt 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-radius: 3px;
}
.btn:active {
  border-color: #008aaa;
  background: #008aaa;
  background-size: auto 100%;
  color: #333;
}
.inp {
  color: #222;
  -moz-box-sizing: border-box;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 34pt;
  resize: none;
  padding: 0 10pt;
  font: 14pt/28pt 'Open Sans', sans-serif;
  border: 0.1rem solid #000;
  box-shadow: none;
  background: #e4e4e4 url(../images/shadow.png) repeat-x;
}
select {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 10pt;
  background: #e4e4e4;
  border-radius: 3px;
  border: 1pt solid #000;
  font: 500 14pt/28pt 'Open Sans', sans-serif;
  color: #222;
  text-align: center;
  line-height: 30pt;
}
.type-city {
  padding-bottom: 10px;
}
.type-city .inp {
  width: 70%;
  float: left;
}
.type-city .btn {
  width: 27%;
  float: right;
}
#cities-wrap .city {
  clear: both;
  font-size: 13pt;
  padding: 9pt;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}
#cities-wrap .city:after {
  content: "";
  display: block;
  clear: both;
}
#cities-wrap .city span.name {
  float: left;
}
#cities-wrap .city span.remove {
  float: right;
}
#cities-wrap .city:last-of-type {
  border-bottom: none;
}
#cities-wrap .city:active {
  background: #247af1;
}
#add-city-wrap .msg {
  padding: 0 0 10pt;
  text-align: center;
}
#weather .border {
  height: 5px;
  background: url(../images/border.png);
  margin: 6pt -10pt;
}
#weather .header {
  margin-bottom: 10pt;
}
#weather .header td {
  vertical-align: middle;
}
#weather .header .info {
  font-size: 9pt;
}
#weather .header .info div {
  height: 12pt;
}
#weather .header .info i {
  font-size: 15pt;
  line-height: 10pt;
  vertical-align: middle;
  display: inline-block;
  width: 15pt;
  margin-right: 2pt;
  text-align: center;
}
#weather .header .icon {
  width: 40pt;
  text-align: center;
}
#weather .header .icon i:before {
  font-size: 45pt;
  line-height: 40pt;
}
#weather .header .temp {
  text-align: right;
  font-size: 30pt;
  width: 65pt;
  line-height: 1em;
}
#weather .weather-head {
  font-size: 12pt;
  width: 100%;
  border-collapse: collapse;
}
#weather .city-name {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}
.weather-table {
  width: 100%;
  font-weight: 300;
  border-collapse: collapse;
}
.weather-table tr {
  border-bottom: 1px solid rgba(3, 3, 3, 0.17);
}
.weather-table tr:last-of-type {
  border-bottom: 0px;
}
.weather-table tr:active {
  background: rgba(36, 122, 241, 0.7);
}
.weather-table .day .day-name {
  text-transform: uppercase;
  font-size: 12pt;
  line-height: 13pt;
}
.weather-table .day .day-weather {
  font-size: 10pt;
  line-height: 11pt;
  font-weight: 400;
}
.weather-table .temp {
  text-align: right;
  font-size: 14pt;
}
.weather-table .icon {
  width: 35pt;
  vertical-align: middle;
  padding: 3pt 3pt 0;
}
.weather-table .icon i:before {
  display: inline-block;
  font-size: 35pt;
  line-height: 35pt;
  font-weight: 100;
  color: #222222;
  vertical-align: middle;
}
