<!doctype html>
<html lang="en-US" ng-app="App">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="css/fontello.css"/>
   <link rel="stylesheet" href="webfont/climacons-font.css" />
   <link rel="stylesheet" href="css/action_menu.css" />
   <link rel="stylesheet" href="css/main.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>

<body ng-controller="MainController" ng-class="{'opened-options': openedOptions}" ontouchstart="" ng-cloak>

<div id="header">
   <a ng-click="toggleOptions()">
      <i class="icon-menu"></i>
   </a>

   <a ng-click="update()">
      <i class="icon-cw"></i>
   </a>
</div>

<div id="options" ng-controller="OptionsController" ng-show="openedOptions" ng-cloak>

   <form role="dialog" data-type="action" ng-show="chooseCity">
      <header>Choose city</header>
      <menu>
         <button ng-repeat="city in chooseCities" ng-click="chooseCityFunc(city)">
            {{city.areaName[0].value}} ({{city.country[0].value}})
         </button>
         <button ng-click="chooseCity=0">Cancel</button>
      </menu>
   </form>

   <div id="cities-wrap">
      <div class="title">Your cities</div>
      <div ng-show="!cities.length">
         You haven't added any cities yet.
      </div>
      <div ng-repeat="city in cities" class="city" ng-click="openCity(city.name)">
         <span class="name">{{ city.name }}</span>
            <span class="remove" ng-click="removeCity(city.name)">
                <i class="icon-cancel"></i>
            </span>
      </div>
   </div>

   <div id="add-city-wrap">
      <div class="title">Add new city</div>

      <div class="msg" ng-show="loading">Loading...</div>

      <div class="msg" ng-show="error" ng-bind="error"></div>

      <div class="type-city">
         <input class="inp" type="text" placeholder="Type city name" ng-model="cityName">
         <button ng-click="loadCity()" class="btn">Go</button>
         <div class="clear"></div>
      </div>

      <div>
         <button class="btn" ng-click="useGeoLocation()">Use geolocation</button>
      </div>
   </div>

   <div id="default-wrap">
      <div class="title">Open on start</div>
      <select ng-options="v for v in startOptions"
         ng-model="options.start"
         ng-change="saveOptions()"></select>
   </div>

   <div id="config-wrap" ng-cloak>
      <div class="title">Options</div>
      <select ng-model="options.temp" ng-change="saveOptions()">
         <option value="C">C&deg;</option>
         <option value="F">F&deg;</option>
      </select>
   </div>

   <div id="by">
      by <a href="https://github.com/Evgeny-" target="_blank">Evgeny Nikiforov <i class="icon-github"></i></a>
   </div>
</div>

<div id="weather" ng-controller="WeatherController" ng-show="!openedOptions">
   <div class="progress" ng-show="!now && !days && loading"></div>

   <div class="loading" ng-show="!now && !days && !loading && !hideChooseText">
      Choose city in <i class="icon-menu"></i>Options to start!
   </div>

   <div class="header" ng-show="now">
      <div class="city-name" ng-bind="city"></div>
      <div class="border"></div>
      <table class="weather-head">
         <tr>
            <td class="info">
               <div><i class="climacon umbrella"></i> {{now.desc}}</div>
               <div><i class="climacon wind"></i> {{now.windspeed}} km/h</div>
               <div><i class="climacon compass"></i> {{now.winddir}}</div>
            </td>
            <td class="icon"><i class="climacon" ng-class="now.icon"></i></td>
            <td class="temp">{{ now.temp }}&deg;</td>
         </tr>
      </table>
      <div class="border"></div>
   </div>

   <table class="weather-table">
      <tr ng-repeat="day in days" ng-click="showDay(day)">
         <td class="icon"><i class="climacon" ng-class="day.icon"></i></td>
         <td class="day">
            <div class="day-name" ng-bind="day.day"></div>
            <div class="day-weather" ng-bind="day.weather"></div>
         </td>
         <td class="temp">
            <div class="temp">{{ day.max }}&deg; / {{ day.min }}&deg;</div>
         </td>
      </tr>
   </table>
</div>


<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular-resource.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>